<template>
  <div class="home">
    <div class="row justify-content-center">
      <div class="col-sm-9">
        <h1 class="text-left">Product</h1>
        <HomeCard v-for="(data, index) in homeCard" :key="index" :data="data"></HomeCard>
      </div>
    </div>
  </div>
</template>

<script>
import homeData from '../../json/main.json'
import HomeCard from '../components/HomeCard'
export default {
  name: 'Home',
  components: {
    HomeCard
  },
  methods: {
    handleClick (page) {
      console.log(page)
      if (page === 'Reksadana') {
        this.$router.push(`/reksadana`)
      }
    },
    refresh () {
      this.$store.commit('GETHOMECARD', homeData.contents)
    }
  },
  computed: {
    homeCard () {
      return this.$store.state.homeCard
    }
  },
  created () {
    this.refresh()
  }
}
</script>

<style scoped>
  .listCard{
    /* font-family: 'Righteous', cursive !important; */
    cursor: pointer !important;
    transition: 0.2s !important;
    /* color: white !important; */
  }
  .listCard:hover{
    /* font-family: 'Oswald', sans-serif; */
    cursor: pointer;
    font-weight: bold;
    color: #6AC9EC;
    box-shadow: 2px 2px;
  }
</style>
