<template>
  <div class="about">
    <div class="row justify-content-center">
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-10">
            <b-form-input v-model="search" placeholder="Search.." style="border-radius: 25px;"></b-form-input>
          </div>
          <div class="col-sm-2">
            <b-form-select v-model="selected" class="mb-3" style="border-radius: 25px;">
              <option :value="null">All</option>
              <option value="A">A</option>
              <option value="B+">B+</option>
              <option value="B">B</option>
            </b-form-select>
          </div>

        </div>
        <b-card class="text-left mb-3 mt-3 listCard">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Grade</th>
                <th scope="col">Rate</th>
                <th scope="col">Tenor</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(data, index) in invoiceSharia" :key="index">
                <td>{{data.name}}</td>
                <td>{{data.amount}}</td>
                <td>{{data.grade}}</td>
                <td>{{data.rate}}</td>
                <td>{{data.tenor}}</td>
              </tr>
            </tbody>
          </table>
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>
import invoiceShariaData from '../../json/invoice/sharia_invoice.json'

export default {
  name: 'Reksadana',
  data () {
    return {
      search: '',
      selected: null
    }
  },
  methods: {
    fetchData () {
      this.$store.commit('GETINVOICESHARIA', invoiceShariaData.contents)
    }
  },
  watch: {
    search: function (newVal, oldVal) {
      let arr = []
      if (this.selected === null) {
        this.fetchData()

        if (newVal.length > 0) {
          for (let i = 0; i < this.invoiceSharia.length; i++) {
            let flag = false
            let split = this.invoiceSharia[i].name.toLowerCase().split(' ')
            for (let j = 0; j < split.length; j++) {
              if (split[j].includes(newVal.toLowerCase()) || this.invoiceSharia[i].name.toLowerCase().includes(newVal.toLowerCase())) {
                flag = true
              }
            }
            if (flag) {
              arr.push(this.invoiceSharia[i])
            }
          }
          this.$store.commit('GETINVOICESHARIA', arr)
        }
      } else {
        let arr2 = []
        this.fetchData()
        for (let i = 0; i < this.invoiceSharia.length; i++) {
          if (this.invoiceSharia[i].grade === this.selected) {
            arr.push(this.invoiceSharia[i])
          }
        }
        for (let i = 0; i < arr.length; i++) {
          let flag = false
          let split = arr[i].name.toLowerCase().split(' ')
          for (let j = 0; j < split.length; j++) {
            if (split[j].includes(newVal.toLowerCase()) || arr[i].name.toLowerCase().includes(newVal.toLowerCase())) {
              flag = true
            }
          }
          if (flag) {
            arr2.push(arr[i])
          }
        }
        this.$store.commit('GETINVOICESHARIA', arr2)
      }
    },
    selected: function (newVal, oldVal) {
      if (this.search === '') {
        this.fetchData()
      }
      if (newVal === null) {
        this.fetchData()
      } else {
        let arr = []
        for (let i = 0; i < this.invoiceSharia.length; i++) {
          if (this.invoiceSharia[i].grade === this.selected) {
            arr.push(this.invoiceSharia[i])
          }
        }
        this.$store.commit('GETINVOICESHARIA', arr)
      }
    }
  },
  computed: {
    invoiceSharia () {
      return this.$store.state.invoiceSharia
    }
  },
  created () {
    this.fetchData()
  }
}
</script>
