<template>
  <div class="about">
    <div class="row justify-content-center">
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-10">
              <b-form-input v-model="search" placeholder="Search.." style="border-radius: 25px;"></b-form-input>
            </div>
            <div class="col-sm-2">
              <b-form-select v-model="selected" class="mb-3" style="border-radius: 25px;">
                <option :value="null">All</option>
                <option value="more"> more than 0</option>
                <option value="less"> less than 0 </option>

                <!-- <option v-for="(data, index) in option" :key="index" :value="data">{{data}}</option> -->
              </b-form-select>
            </div>

          </div>
        <b-card class="text-left mb-3 mt-3 listCard">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Return</th>
              </tr>
            </thead>
            <tbody>
              <tr v-infinite-scroll="loadMore" infinite-scroll-disabled="busy" infinite-scroll-distance="10" v-for="(data, index) in reksadana" :key="index">
                <td>{{data.name}}</td>
                <td>{{data.amount}}</td>
                <td>{{data.return}}</td>
              </tr>
            </tbody>
          </table>
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>
import reksadanaData from '../../json/reksadana/reksadana.json'

export default {
  name: 'Reksadana',
  data () {
    return {
      search: '',
      selected: null,
      option: {},
      data: [],
      busy: false
    }
  },
  methods: {
    fetchData () {
      this.$store.commit('GETREKSADANA', reksadanaData.contents)
    },
    loadMore: function () {
      this.busy = true

      setTimeout(() => {
        for (var i = 0, j = 10; i < j; i++) {
          this.data.push(this.reksadana[i])
        }
        this.busy = false
      }, 1000)
    }

  },
  watch: {
    search: function (newVal, oldVal) {
      let arr = []
      if (this.selected === null) {
        this.fetchData()

        if (newVal.length > 0) {
          for (let i = 0; i < this.reksadana.length; i++) {
            let flag = false
            let split = this.reksadana[i].name.toLowerCase().split(' ')
            for (let j = 0; j < split.length; j++) {
              if (split[j].includes(newVal.toLowerCase()) || this.reksadana[i].name.toLowerCase().includes(newVal.toLowerCase())) {
                flag = true
              }
            }
            if (flag) {
              arr.push(this.reksadana[i])
            }
          }
          this.$store.commit('GETREKSADANA', arr)
        }
      } else {
        let arr2 = []
        this.fetchData()
        if (this.selected === 'more') {
          for (let i = 0; i < this.reksadana.length; i++) {
            if (this.reksadana[i].return >= 0) {
              arr.push(this.reksadana[i])
            }
          }
          this.$store.commit('GETREKSADANA', arr)
        } else if (this.selected === 'less') {
          for (let i = 0; i < this.reksadana.length; i++) {
            if (this.reksadana[i].return < 0) {
              arr.push(this.reksadana[i])
            }
          }
          this.$store.commit('GETREKSADANA', arr)
        }

        for (let i = 0; i < arr.length; i++) {
          let flag = false
          let split = arr[i].name.toLowerCase().split(' ')
          for (let j = 0; j < split.length; j++) {
            if (split[j].includes(newVal.toLowerCase()) || arr[i].name.toLowerCase().includes(newVal.toLowerCase())) {
              flag = true
            }
          }
          if (flag) {
            arr2.push(arr[i])
          }
        }
        this.$store.commit('GETREKSADANA', arr2)
      }
    },
    selected: function (newVal, oldVal) {
      if (this.search === '') {
        this.fetchData()
      }
      if (newVal === null) {
        this.fetchData()
      } else {
        let arr = []
        if (this.selected === 'more') {
          for (let i = 0; i < this.reksadana.length; i++) {
            if (this.reksadana[i].return >= 0) {
              arr.push(this.reksadana[i])
            }
          }
          this.$store.commit('GETREKSADANA', arr)
        } else if (this.selected === 'less') {
          for (let i = 0; i < this.reksadana.length; i++) {
            if (this.reksadana[i].return < 0) {
              arr.push(this.reksadana[i])
            }
          }
          this.$store.commit('GETREKSADANA', arr)
        }
      }
    }
  },
  computed: {
    reksadana () {
      return this.$store.state.reksadana
    }
  },
  created () {
    this.fetchData()
    // console.log(this.$store.state.reksadana)
    for (let i = 0; i < this.$store.state.reksadana.length; i++) {
      if (this.option[this.$store.state.reksadana[i].return] === undefined) {
        this.option[this.$store.state.reksadana[i].return] = this.$store.state.reksadana[i].return
      }
    }
    // console.log(this.option)
  }
}
</script>
