<template>
  <div>
    <b-card class="text-left mb-3 listCard" @click.prevent="handleClick(data)">
      <div class="row align-items-center">
        <div class="col-sm-1"><p style="font-size:50px">&#128220;</p></div>
        <div class="col-sm-11">
          <h1>{{data.name}}</h1>
          <b-card-text class="text-left">
            With supporting text below as a natural lead-in to additional content.
          </b-card-text>
        </div>
      </div>
    </b-card>

    <b-collapse id="collapse-4" v-model="showCollapse" class="col mt-2">
      <div class="row">
        <b-card v-for="(el, index) in data.type" :key="index" class="col text-left m-3 dropdown" @click.prevent="handleClick(el)">
          <div class="row align-items-center">
            <!-- <div class="col-sm-1"><p style="font-size:10px">&#128220;</p></div> -->
            <div class="col-sm-12">
              <h3>{{el.name}}</h3>
              <b-card-text class="text-left">
                With supporting text below as a natural lead-in to additional content.
              </b-card-text>
            </div>
          </div>
        </b-card>

      </div>
    </b-collapse>
  </div>
</template>

<script>
export default {
  props: {
    data: Object
  },
  data () {
    return {
      showCollapse: false
    }
  },
  methods: {
    handleClick (data) {
      if (data.name === 'Reksadana') {
        this.$router.push(`/reksadana`)
      }
      if (data.name === 'SBN') {
        this.$router.push(`/sbn`)
      }
      if (data.name === 'Invoice Financing') {
        if (this.showCollapse === false) {
          this.showCollapse = true
        } else {
          this.showCollapse = false
        }
      }
      if (data.name === 'OSF Financing') {
        this.$router.push(`/osf`)
      }
      if (data.name === 'Conventional Invoice') {
        this.$router.push(`/invoice/conventional`)
      }
      if (data.name === 'Sharia Invoice') {
        this.$router.push(`/invoice/sharia`)
      }
    }
  }
}
</script>

<style>
  .listCard{
    /* font-family: 'Righteous', cursive !important; */
    cursor: pointer !important;
    transition: 0.2s !important;
    /* color: white !important; */
  }
  .listCard:hover{
    /* font-family: 'Oswald', sans-serif; */
    cursor: pointer;
    font-weight: bold;
    color: #6AC9EC;
    box-shadow: 2px 2px;
  }
  .dropdown{
    /* font-family: 'Righteous', cursive !important; */
    cursor: pointer !important;
    transition: 0.2s !important;
    /* color: white !important; */
    border-color: green
  }
  .dropdown:hover{
    /* font-family: 'Oswald', sans-serif; */
    cursor: pointer;
    font-weight: bold;
    color: #6AC9EC;
    box-shadow: 2px 2px;
  }
</style>
